# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_EMAILS=admin@ejemplo.com
NEXT_PUBLIC_SITE_URL=https://maquimary.vercel.app
NEXT_PUBLIC_EMAIL_DOMAIN=maquimary.local

# WhatsApp (opcional)
WHATSAPP_PHONE=51949446676
WHATSAPP_CALLMEBOT_APIKEY=
